<div class="wrapper" id="wrapper">
<h1><%= @contact.name %></h1>

<p>The following phone numbers belong to this person in the address book........</p>

<ul>
<% @contact.phones.each do |phone| %>
  <li id="phone">
    <%= phone.number %> ++++
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id%>/edit">Edit</a> ++++
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/destroy"
          data-confirm="Are you sure that you want to save this phone number the way that it is?"
          data-method="delete"
          rel="nofollow">Delete this thing</a>
  </li>
  <% end %>
</ul>

<p>The following email addresses belong to this person in the address book........</p>

<ul>
<% @contact.emails.each do |email| %>
  <li id="phone">
    <%= email.address %> ++++
      <a href="/contacts/<%= @contact.id %>/emails/<%= email.id%>/edit">Edit</a> ++++
      <a href="/contacts/<%= @contact.id %>/emails/<%= email.id %>/destroy"
          data-confirm="Are you sure that you want to save this email address the way that it is?"
          data-method="delete"
          rel="nofollow">Delete this thing</a>
  </li>
  <% end %>
</ul>


<p><a href="/contacts/<%= @contact.id %>/edit">Edit</a></p>
<p><a href="/contacts/<%= @contact.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<p><a href="/contacts/<%= @contact.id %>/phones/new">Add phone</a></p>
<p><a href="/contacts/<%= @contact.id %>/emails/new">Add email</a></p>

<a href="/contacts" id="link" >Return to contact listing</a>
</div>
